body { margin: 0; }

#scene { width: 90%; height: 90%}

.left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.right {
    overflow: hidden;
}

/* SVG styling */
svg {
    font-family: helvetica, sans-serif;
}

path, line {
    stroke: #777;
}
